<div class="row">
    <div class="col-lg-8 col-md-7 col-sm-6">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.4/sweetalert2.min.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="{{ asset('css/override.css') }}" />
        <h1><i class='fa fa-user'></i> Welcome {{ player_name|capitalize }}</h1>
        <span class="text-muted">EXCERICE ID: {{ exercice_id }}</span>
    </div>

    <div class="col-lg-4 col-md-5 col-sm-6">
        <div class="sponsor">
            <a id="get_cards_btn" {% if cards is not empty %} disabled {% endif %} class="btn btn-lg btn-rounded btn-block btn-primary">GET 10 CARDS <i class="fa fa-magic"></i></a>
        </div>
    </div>
</div>
<hr/>
{% if cards is empty %}
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h1 id="indicators"><span class="label label-warning"><i class="fa fa-warning"></i> Hand empty: 0 card</span></h1>
            </div>
        </div>
    </div>
{% else %}
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h1 id="indicators"><span class="label label-success"><i class="fa fa-hand-o-right"></i> Hand:  {{ cards|length }} cards</span></h1>
            </div>
        </div>
    </div>   
                   
{% endif %}