{% extends 'base.html.twig' %}
{% block body %}
    <div id="wrapper">
        <div id="container">
            {% include '::header.html.twig' %}
            <!-- Indicators
            ================================================== -->
            <div class="bs-docs-section">
                <div class="row">
                    <div class="col-lg-12">
                        {% if cards is empty %}

                            <div class="bs-component">
                                <div class="alert alert-dismissible alert-warning">
                                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                                    <h4> Your need to retrieve 10 cards !</h4>
                                    <p>Please click on the <b>GET 10 CARDS</b> button to continue.</p>
                                </div>
                            </div>
                        {% else %}
                           {% if rules.handSorted == false %}
                            <div class="bs-component">
                                <div class="alert alert-dismissible alert-success" role="alert">
                                    <strong>Good Luck !</strong>
                                    <p>To sort cards, please click the <b>AUTO SORT</b> button.</p>
                                    <p>If you need to match results with excercice solution, please click the <b>VERIFY</b> button.</p>
                                </div>
                            </div>
                           {% elseif  rules.handSorted == true %}
                                <div class="bs-component">
                                    <div class="alert alert-dismissible alert-warning">
                                        <strong>Sorting done !!</strong>
                                        <p><img class="sign-image" src="{{ asset('images/signs/DOLLAR.png') }}" /> Cards are Sorted according to required order.</p>
                                        <p>If you need to match results with excercice solution, please click the <b>VERIFY</b> button.</p>
                                    </div>
                                </div>
                            {% endif %}
                            <div class="sign-container row centered text-center">
                                {% for category in rules.categoryOrder %}
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <img class="sign-image" src="{{ asset('images/signs/'~category~'.png') }}" />
                                    </div>
                                {% endfor %}
                                <small class="hidden-xs">{{ rules.valueOrder|join(' >> ') }}</small>
                            </div>
                            <div class="row cards-container">
                                <div class="cards-btn">
                                    <div class="col-lg-4 col-md-5 col-sm-6">
                                        <a id="order_cards_btn" {% if rules.handSorted == true %} disabled {% endif %} class="btn btn-danger"><i class="fa fa-heart"></i> AUTO SORT</a>
                                    </div>
                                    <div class="col-lg-4 col-md-5 col-sm-6">
                                        <a id="verify_cards_btn" {% if rules.handSorted == false %} disabled {% endif %} class="btn btn-warning"><i class="fa fa-check"></i> VERIFY ORDER</a>
                                    </div>
                                    <div class="col-lg-4 col-md-5 col-sm-6">
                                        <a id="refresh_cards_btn" {% if cards is  empty %} disabled {% endif %} class="btn btn-info"><i class="fa fa-refresh"></i> RESTART</a>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div>
                                    {% for card in cards %}
                                        <div class="card-container col-lg-2 col-md-5 col-sm-3">
                                            <img class="card-image" src="{{ asset('images/cards/'~card.category~'/'~card.value~'.png') }}" />
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts  %}

    {% include '::footer.html.twig' %}
{% endblock %}
